@using Models
@using System.Globalization

<li style="background-image: url('@Fruit.ImageUrl')" @onclick="() => OnItem_Click(Fruit)">
    <div class="fruit-info">
        <span class="title">@Fruit.Name @(Count != null ? Count : string.Empty)</span>
        <span class="price">@Fruit.Price.ToString("0.00")</span>
    </div>
</li>


@code {
    [Parameter] public Fruit Fruit { get; set; }
    [Parameter] public int? Count { get; set; }
    [Parameter] public EventCallback<Fruit> OnClick { get; set; }
    private async Task OnItem_Click(Fruit fruit) 
    {
        await OnClick.InvokeAsync(Fruit);
    }

}